.game {
  max-width: 75vw;
  input {
    width: 100%;
    font-size: 2em;
    background-color: gray;
    margin-left: -5px;
    color: white;

    &::placeholder {
      color: white;
    }
  }

  h1 {
    background-color: gray;
  }

  .score {
    position: absolute;
    top: 5px;
    left: 30px;

    h1 {
      margin: 0;
    }
  }
}
